//  Main Color Combo
//  #00628B
//  #E6E6DC
//  #81A594
$color-main-1: #00628B;
$color-main-2: #E6E6DC;
$color-main-3: #81A594;

section#gnb{
    width: 100%;
    height: 50px;
    background-color: $color-main-1;

    a{
        padding: 0px 10px;
        height: 100%;
        line-height: 50px;
        display: inline-block;
        color: #E6E6DC;
        font-weight: bold;
        vertical-align: middle;
        text-decoration: none;
        &:hover{
            background-color: $color-main-3;
        }
    }

    & a#gnb-logo{
        display: inline-block;
        width: 150px;
        height: 100%;
        & img{
            width: 150px;
            height: 100%;
        }

    }
}

p#first-line, p#second-line{
    text-align: center;
    margin: 100px auto;
}

#first-line{
    font-size: 50px;
    strong{
        color: #D7370F;
    }
}
#second-line{
    font-size: 72px;
    strong{
        color: #4A23BF
    }
}